@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-color: gainsboro;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
    
}   


.filter-container{
    margin-top: 20px;
    width: 75vw;
    max-width: 800px;
}

.filter{
    width: 100%;
    padding: 10px;
}

.post{
    position: relative;
    display: flex;
    background-color: khaki;
    padding: 20px;
    margin:40px 0;
    border-radius: 3px;
    border-bottom-right-radius: 10px;
    text-overflow: initial;
    width: 75vw;
    max-width: 800px;
    box-shadow: 6px 4px  rgba(0, 0, 0, 0.1) ;

}

.post-title{
    margin: 0;
}


.post-body{
    margin: 10px 0 0;
    line-height: 1.5;
}

.post-id {
    position:absolute;
    top: -20px;
    left: -20px;
    background-color: blue;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    display: flex;


}

