@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
    box-sizing: border-box;
}

/* body{
font-family: sans-serif;
background-color:rgb(228, 196, 185);
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
margin: 0%;
} */

body{
    font-family: sans-serif;
    background-color:rgb(228, 196, 185);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0%;
}

form{
    background-color:rgb(247, 232, 205);
    border-radius: 5%;
    padding: 10% 40px;
    align-items: 20px;
}  

.main{
    align-items: center;
    background-color: white;
    border-radius: 5%;
    box-shadow: 0 2px 10px rgba(0,0,0, 0.3);
    width: 400px;
}

.form-control{
    padding: 5%;
    display: block;
    position: relative;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: brown;
    font-size: 30px;
}

.form-control label{
    display: block;
    color:rgb(100, 99, 99);
    margin: 1%;
    font-size: 14pt;
}

.form-control input{
    border: 3px solid darkgray;
    border-radius: 8px;
    color: brown;
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 10px;
    box-shadow:  0 5px 10px rgba(0,0,0, 0.3);
}

small{
    color:orangered ;
    visibility: hidden;
    position: absolute;
    padding: 1%;
    font-size: 16px;
    margin-top: 1%;
}

.form button{
    background-color: navy;
    color: white;
    font-size: 15px;
    margin-top: 10%;
    cursor: pointer;
    width: 100%;
    padding: 14px;
    /* margin: 8px;   */
    border-radius: 5px;   

}

.form-control.success input{
    border-color: green;

}

.form-control.error input{
    border-color:orangered ;

}

.form-control.error small{
    visibility: visible;
}




